a {
  text-decoration: none;
}

.container-followers {
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
}

.followers-avatar {
  margin: 0;
}

.followers-avatar > img {
  border-radius: 50%;
}

.followers-title {
  font-weight: 300;
  color: #212121;
}
