.header {
  align-items: center;
  background: #24292e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  position: relative
}

.header-title {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.search {
  cursor: pointer;
}

.search > i {
  font-size: 2em;
  color: #FFFFFF;
}
